@*commenting out this code because the ViewStart file contains the exact same razor markup and it defines the common layout that all views will use*@
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@{
    ViewBag.Title = "Movie Library";
}

<h2>My Movies</h2>

<p>You're looking at my View template!</p>


